<!DOCTYPE html>
<html>
    <head>
        <title>Chemistry.js</title>
        <link rel="stylesheet" href="../../general.style.css">
    </head>
    <body>
        <header>
                <h1 id="title">Chemistry js</h1>
                <div id="subtitle">The all-in-one software for compounds analisis</div>
        </header>
        <nav>
            <ul>
                <li><a href="../../home.html">home page</a> </li>
                <li><a href="../classificator/classificato.page.html">Classificator</a></li>
                <li><a href="./equilibrium.page.html">Equilibrium</a></li>
            </ul>
        </nav>
        <article>
            The ChemistryJs Equilibirum calculator tool permits to calculate the concentration at equilibrium of a variety of chemical compounds. It also calculates the Ke, Ksp, Ka, Kb.<br>
            Try it for yourself:<br>
            <input id="coefficen1" type="text"><input id="concentration1" type="text"> + <input id="coefficen2" type="text"><input id="concentration2" type="text"> <=> <input id="coefficen3" type="text"><input id="concentration3" type="text"> + <input id="coefficen4" type="text"><input id="concentration4" type="text"><br>
            <button type="button" id="button">Calculate Ka</button>
            <div id="resoult"></div>
        </article>
        <script src="./equilibirum.data.js"></script>
    </body>
</html>