<!DOCTYPE html>
<html>
    <head>
        <title>Chemistry Js</title>
        <link rel="stylesheet" href="../../general.style.css">
    </head>
    <body>
        <header>
            <h1 id="title">Chemistry js</h1>
            <div id="subtitle">The all-in-one software for compounds analisis</div>
        </header>
        <nav>
            <ul>
                <li><a href="../../home.html">home page</a> </li>
                <li><a href="./classificato.page.html">Classificator</a></li>
            </ul>
        </nav>
        <article>
            <div>
                This is the chemical compound classificator. Insert the name or formula of a chemical compound for reciving details about the compound you inserted. <strong>NOTICE: Use UPAC names only! Common names will not work!</strong>
                <form autocomplete="off">
                    <label>Chemical compound:</label>
                    <input id="chemComp" name="chemical compound" type="text" placeholder="methane" autofocus required/>
                </form>
            </div>
            <script src="./classificator.data.js"></script>
        </article>
    </body>
</html>